@import "../../../const";

.dialogs {
  display: grid;
  grid-template-columns: 25% 75%;
  width: calc(100% - 15px);
  height: calc(100vh - 124px);
  margin: 18px 0;
  border: 1px solid $primary;
  border-radius: $borderRadius;
  background-color: $grey33;

  .dialogsItems {
    padding: 21px 10px;

    .dialog {
      padding: 10px;
      font-size: 18px;
      cursor: pointer;

      a {
        color: $white245;
        text-decoration: none;

        &:hover {
          transition: 200ms;
          color: $white200;
        }

        &:active {
          color: $primary;
        }
      }
    }

    .active {
      color: $primary;

      a {
        color: $primary;

        &:hover {
          color: $primary09;
        }
      }
    }
  }

  .messages {
    padding: 21px 10px;
    background-color: $grey50;
    border-bottom-right-radius: $borderRadius;
    border-top-right-radius: $borderRadius;
    color: $white245;

    .message {
      padding: 10px;
    }
  }
}