@import "../../../../const";

.myPosts {
  padding: 15px;

  h1, h3 {
    text-align: center;
  }

  .new_post {
    margin: 0 15% 25px;
    width: 70%;

    textarea {
      width: 100%;
      height: 100px;
      background-color: $white245;
      resize: none;
      outline: none;
    }

    button {
      cursor: pointer;
    }
  }
}