@import "../../../const.scss";


.users {
  .navigator {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 12px auto;

    .pageNo {
      margin: 10px;
      padding-top: 3px;
      height: 22px;
      width: 25px;
      font-size: 18px;
      color: $white245;
      background-color: $grey33;
      border: 1px solid $primary;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        transition: 200ms;
        color: $white200;
      }
    }

    .activePageNo {
      @extend .pageNo;
      color: $primary;

      &:hover {
        color: $primary;
      }
    }
  }

  .user {
    display: grid;
    grid-template-columns: 180px 60%;
    border-radius: $borderRadius;
    margin-top: 20px;
    box-shadow: 0 0 2px 2px rgba($grey33, 0.3);

    .left {
      text-align: center;
      background-color: $grey90;
      border-bottom-left-radius: 12px;
      border-top-left-radius: 12px;

      .userImage {
        width: 90px;
        height: 90px;
        margin: 30px 45px;
      }

      .followButton {
        width: 88px;
        height: 30px;
        margin-bottom: 12px;
        border-radius: $borderRadius;
        background-color: $grey90;
        border: 1px solid $grey33;
        color: $white245;
        box-shadow: 0 0 2px 2px rgba($grey33, 0.5);
        cursor: pointer;

        &:hover {
          background-color: $grey50;
        }

        &:active {
          background-color: $grey90;
        }
      }
    }

    .right {
      display: flex;
      border-left: 1px solid $grey90;
      padding-left: 30px;

      .info {
        p {
          font-style: italic;
        }

        a {
          text-decoration: none;
          color: $grey33;
        }
      }

      .location {
        position: absolute;
        right: 50px;
        font-style: italic;
      }
    }
  }
}