@import "../../const";

.main {
  display: table;
  height: 100px;
  margin: 21px 15px;
  padding: 10px;
  background-color: $grey33;
  border: 1px solid $primary;
  border-radius: $borderRadius;

  .links {
    line-height: 25px;
    font-size: 18px;
    margin: 0 21px;
    padding: 15px 0;

    .activeLink {
      color: $primary;

      &:hover {
        color: $primary09;
      }
    }

    a {
      color: $white245;
      text-decoration: none;

      &:hover {
        transition: 200ms;
        color: $white200;
      }

      &:active {
        color: $primary;
        transition: 200ms;
      }
    }
  }
}