@import "../../../../../const";

.post {
  padding: 15px 0;
  display: flex;

  .user {
    height: 33px;
    width: 33px;

    img {
      width: 100%;
    }
  }

  .content {
    margin: 0 0 0 20px;

    .text {
    }

    .like {
      margin: 5px;

      &:hover {
        color: $grey90;
      }
    }
  }
}
