@import "colors";

body {
  margin: 0;
  padding: 0;
  background-color: $white200;
  color: $grey33;
  overscroll-behavior: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  font-family: Palatino, sans-serif;
  font-size: 16px;



  .wrapper {
    display: grid;
    grid-template-columns: 24% 76%;

    .content {
      padding: 3px 10px;
    }
  }
}