$primary: rgb(96, 218, 251);
$primary09: rgb(86, 196, 226);

// Dark Colors
$grey90: rgb(90, 90, 90);
$grey33: rgb(33, 33, 33);
$black: rgb(0, 0, 0);

// Light Colors
$white245: rgb(245, 245, 245);
$white200: rgb(200, 200, 200);

